{% set ip_base = base_ip_address.split('.')[-1] | int %}console=serial0,115200 console=tty1 root=/dev/nfs nfsroot={{nfs_server_address}}:{{nfs_root_path_prefix}}{{host_prefix}}{{number}} rw elevator=deadline fsck.mode=skip rootwait modules-load=dwc2,g_ether ip={{'.'.join(base_ip_address.split('.')[:-1])}}.{{ip_base+number}}:{{default_gw}}::{{netmask}}:{{host_prefix}}{{number}}:usb0:static rootwait